---
# tasks file for glusterfs
- name: Instalaci贸n glusterfs
  apt:
    name: glusterfs-server
    state: present
    update_cache: yes

- name: Iniciar y habilitar el servicio GlusterFS
  service:
    name: glusterd
    state: started
    enabled: true

- name: Creaci贸n de grupo de confianza
  gluster.gluster.gluster_peer:
    state: present
    nodes: "{{ ansible_play_hosts | join(',') }}"
  run_once: true

- name: Creaci贸n de ubicacion del volumen
  file:
    path: /gfs/brick_web
    state: directory
    recurse: yes

- name: Creaci贸n un volumen gluster
  gluster.gluster.gluster_volume:
    state: present
    name: vol_web
    bricks: /gfs/brick_web
    replicas: "{{ ansible_play_hosts | length }}"
    cluster: "{{ ansible_play_hosts }}"
    force: yes
  run_once: true

- name: start gluster volume
  gluster.gluster.gluster_volume:
    state: started
    name: vol_web

- name: Copiar contenido web
  ansible.builtin.copy:
    src: index.php
    dest: /gfs/brick_web

